body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    background-image: url("station.jpg");
    background-size: cover;
    height: 100vh;
}
.container{
    background-color: #fff;;
    width: 500px;
    
    padding: 50px 20px;
    border-radius: 50px;
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

.secoundry{background: green;}
.primary {
    background: grey;
}